.container {
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
	max-width: 1404px;
}

header,
footer {
	flex: 0 0 auto;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	height: 100%;
}

main {
	flex: 1 0 auto;
}

section {
	& + section {
		margin-top: 80px;
	}

	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 55px;

		@include respond-to(mobile) {
			margin-bottom: 30px;
		}
	}
}
