.banner {
	--max-width: 1740px;

	position: relative;
	display: flex;
	align-items: end;

	&-slides {
		min-height: 440px;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	&-title {
		margin-bottom: 20px;
	}

	&-img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	&-slide {
		@include fullHeigh;

		display: flex;
		flex-direction: column;
		justify-content: end;
	}

	&-content {
		position: relative;
		z-index: 5;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		margin-bottom: max(140px, 24vh);
		padding: 0 30px;
		width: 100%;
		max-width: clamp(935px, 330.4286px + 59.0402vw, 1464px);
		font-family: "Azbuka04", sans-serif;
		color: var(--color-white);
		gap: 40px;

		&-second {
			padding-top: clamp(17px, 2.1429px + 1.4509vw, 30px);
			text-align: right;

			@include respond-to(tablet) {
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
			}
		}

		&-first {
			@include respond-to(tablet) {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				gap: 7px;
			}
		}

		@include respond-to(tablet-xl) {
			margin-bottom: 140px;
			max-width: 100%;
		}

		@include respond-to(tablet) {
			flex-direction: column-reverse;
			align-items: center;
			margin-bottom: max(32px, 17vw);
			padding: 0 clamp(40px, -24.8464px + 13.6519vw, 80px);
		}
	}

	.swiper-button-prev {
		left: clamp(35px, -16.4286px + 5.0223vw, 80px);
	}

	.swiper-pagination,
	.swiper-button-next {
		right: clamp(35px, -16.4286px + 5.0223vw, 80px);
	}

	.swiper-button-wrapper,
	.swiper-pagination {
		width: 100%;
		max-width: var(--max-width);
	}

	.swiper-button-wrapper {
		position: absolute;
		left: 50%;
		bottom: 30%;
		z-index: 5;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: clamp(15px, -17.4232px + 6.8259vw, 35px);
		padding-left: clamp(15px, -17.4232px + 6.8259vw, 35px);
		transform: translateX(-50%);

		@include respond-to(tablet-xl) {
			bottom: 8%;
		}

		@include respond-to(tablet) {
			bottom: clamp(155px, 16.6412px + 36.8957vw, 300px);
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		position: unset;
		top: 70%;

		&::after {
			content: none;
		}

		@include respond-to(tablet-xl) {
			position: unset;
		}

		@include respond-to(tablet) {
			svg {
				width: clamp(9px, -15.3174px + 5.1195vw, 24px);
				height: clamp(20px, -18.9078px + 8.1911vw, 44px);
			}
		}
	}

	.swiper-pagination {
		left: 50%;
		bottom: max(57px, 10vh);
		display: flex;
		align-items: center;
		justify-content: end;
		margin: 0 auto;
		padding: 0 35px;
		width: 100%;
		transform: translateX(-50%);
		gap: clamp(13px, -8.7143px + 2.1205vw, 32px);

		&-bullet {
			border-radius: unset;
			width: clamp(19px, 8.7143px + 1.0045vw, 28px);
			height: clamp(19px, 8.7143px + 1.0045vw, 28px);
			background: var(--color-second);
			opacity: 0.35;
			transition: var(--anim2);

			&-active {
				opacity: 1;
				transform: scale(1.49);
			}
		}

		@include respond-to(tablet-xl) {
			bottom: 155px;
		}

		@include respond-to(tablet) {
			display: none;
		}
	}

	// &-title {
	// 	font-family: "BenguiatGothicCTT", sans-serif;
	// 	font-size: clamp(90px, 44.2857px + 4.4643vw, 130px);

	// 	@include respond-to(tablet) {
	// 		font-size: clamp(50px, -14.8464px + 13.6519vw, 90px);
	// 	}
	// }

	&-subtitle {
		font-size: 24px;

		@include respond-to(tablet) {
			font-size: clamp(15px, 3.6519px + 2.3891vw, 22px);
		}
	}

	.btn {
		margin-top: 33px;

		@include respond-to(tablet) {
			margin-top: min(77px, 9vw);
		}
	}

	&-date {
		&-day {
			font-size: clamp(70px, 58.5714px + 1.1161vw, 80px);

			@include respond-to(tablet) {
				font-size: clamp(30px, -34.8464px + 13.6519vw, 70px);
			}
		}

		&-time {
			font-family: "Avantgard", sans-serif;
			font-weight: 700;
			font-size: clamp(20px, 17.7143px + 0.2232vw, 22px);

			@include respond-to(tablet) {
				font-size: clamp(13px, 1.6519px + 2.3891vw, 20px);
			}
		}
	}
}
