.buy-tooltip {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	margin-top: unset;
	max-height: 0%;
	box-shadow: 0 0 20px 0 #00000054;
	transform: scale3d(0 0 0);
	transition: 1s ease-in;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: radial-gradient(circle, #0000 0%, #000 80%);
	}

	img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: var(--anim4);
	}

	.container {
		position: relative;
		z-index: 5;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 15px;
		padding-bottom: 15px;
		color: var(--color-white);
		gap: 10px 20px;

		@include respond-to(tablet) {
			display: grid;
			grid-template-columns: 1fr max-content;
		}
	}

	&-title {
		font-family: "Avantgard", sans-serif;
		font-weight: 700;
		font-size: var(--fluid-18-50);
	}

	&-subtitle {
		overflow: hidden;
		max-height: 0;
		transition: var(--anim4);

		span:not(:last-child)::after {
			content: "|";
			display: inline-block;
			padding-left: 5px;
		}
	}

	&-date {
		font-size: var(--fluid-24-40);
	}

	&-time {
		font-family: "Avantgard";
		font-weight: 700;
		font-size: var(--fluid-14-16);
	}

	&-first {
		flex: 1;
		margin-right: auto;
	}

	&-second {
		text-align: right;
	}

	.btn {
		@include respond-to(tablet) {
			justify-content: center;
			justify-self: center;
			grid-column: 1 / 3;
			width: 100%;
			max-width: 400px;
		}
	}

	&.show {
		transition: 4s cubic-bezier(0, 0.83, 0.2, 0.98);
	}

	@media (hover: hover) {
		&:hover {
			transition: unset;

			img {
				filter: sepia(1) brightness(0.8);
			}

			.buy-tooltip-subtitle {
				padding-top: 10px;
				max-height: 26px;
			}
		}
	}
}
