.dates-performance {
	--padding: 30px;

	&-title {
		margin-bottom: 25px;
		font-family: "Avantgard", sans-serif;
		font-weight: 700;
		font-size: 20px;
		color: var(--color-second);

		@include respond-to(mobile) {
			font-size: 16px;
		}
	}

	&-content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		gap: 10px;
	}

	&-item {
		position: relative;
		display: flex;
		align-items: center;
		padding: 25px 20px;
		background: var(--color-light);
		transition: var(--anim1);

		&.active {
			color: var(--color-white);
			background: var(--color-second);
			pointer-events: none;

			.dates-performance {
				&-date {
					color: var(--color-white);
				}

				&-group {
					border-color: var(--color-white);
				}

				&-tooltip {
					background: var(--color-first);
				}
			}
		}

		@include respond-to(mobile) {
			justify-content: center;
		}

		@media (hover: hover) {
			&:not(.active):hover {
				color: var(--color-white);
				background: var(--color-second-hover);

				.dates-performance {
					&-date {
						color: var(--color-white);
					}

					&-group {
						border-color: var(--color-white);
					}
				}
			}
		}
	}

	&-transfer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 3px;
		font-family: "Avantgard";
		font-weight: 400;
		font-size: 12px;
		text-align: center;
		color: var(--color-white);
		background: var(--color-first-light);
	}

	&-group {
		flex-shrink: 0;
		border-right: 1px solid var(--color-second);
		padding-right: var(--padding);

		@include respond-to(mobile) {
			width: 100%;
			max-width: 140px;
		}
	}

	&-date {
		font-size: 50px;
		color: var(--color-second);

		@include respond-to(mobile) {
			font-size: 20px;
		}
	}

	&-time {
		@include respond-to(mobile) {
			font-size: 14px;
		}
	}

	&-place {
		padding: 6px;
		padding-left: var(--padding);
		font-size: 18px;

		@include respond-to(mobile) {
			font-size: 14px;
		}
	}

	&-tooltip {
		position: absolute;
		right: 10px;
		top: -5px;
		border-radius: 100px;
		padding: 3px 10px;
		font-size: 12px;
		color: var(--color-white);
		background: var(--color-second);
	}

	&-address {
		margin-top: 25px;
		max-width: 440px;

		p {
			font-weight: 700;
			font-size: 20px;
			color: var(--color-gray);

			& + p {
				margin-top: unset;
			}

			@include respond-to(mobile) {
				font-size: 16px;
			}
		}
	}

	@include respond-to(mobile) {
		margin-top: 20px;
	}

	@include respond-to(mobile) {
		--padding: 20px;
	}
}