.posters {
	&-title {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 60px;
		border-bottom: 1px solid var(--color-gray-light);
		padding-bottom: 28px;
		gap: 34px;

		[class^="title"] {
			margin-right: auto;
		}
		@include respond-to(tablet) {
			gap: 18px;
		}
	}

	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		gap: 15px 10px;
	}

	&-filters {
		padding: 30px 0 80px;

		@include respond-to(mobile) {
			padding: 30px 0;
		}

		&-title {
			margin-bottom: 10px;
			font-weight: 700;
			font-size: 13px;
			line-height: 1;
			color: var(--color-gray);
		}

		&-top {
			margin-bottom: 30px;
		}

		&-bottom {
			font-family: "Avantgard", sans-serif;

			&-title {
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				font-weight: 700;
				color: var(--color-second);
				gap: 10px;
				@include respond-to(mobile) {
					font-size: 14px;
				}
			}
		}

		&-accept {
			margin-left: auto;
			@include respond-to(laptop-xl) {
				width: 100%;
			}
			.btn {
				@include respond-to(laptop-xl) {
					width: 100%;
					justify-content: center;
				}
			}
		}
		&-item {
			max-width: 295px;
			width: 100%;
			@include respond-to(laptop-xl) {
				max-width: unset;
			}
		}
		&-items {
			display: flex;
			gap: 10px;
			align-items: end;

			@include respond-to(laptop-xl) {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
			}
			@include respond-to(tablet) {
				grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
			}
		}
	}

	.repertoire-filters {
		padding-top: 30px;
		padding-bottom: 100px;
	}
}