// $name - имя шрифтового семейства;
// $file - имя файла;
// $weight - жирность шрифта (по-умолчанию установлено значение 400, но если мы передадим параметр, то значение по-умолчанию будет проигнорировано)
// $style - стиль начертания (тоже установлен по-умолчанию normal)

@mixin font-face($name, $file, $weight: 400, $style: normal) {
	@font-face {
		font-family: "#{$name}";
		src: local("#{$file}"), url("../fonts/#{$file}.woff2") format("woff2"),
			url("../fonts/#{$file}.woff") format("woff");
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

// @include font-face("DMSans", "DMSans-Bold", 900);
