html {
	font-family: "DMSans", sans-serif;
	font-size: 16px;
	cursor: default;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1rem;
}

p {
	font-size: 1rem;
}

b {
	font-weight: 700;
}