html {
	font-family: "Azbuka04", sans-serif;
	font-size: 16px;
	cursor: default;
}

.title {
	&-first {
		// font-family: "BenguiatGothicCTT", sans-serif;
		font-size: clamp(90px, 44.2857px + 4.4643vw, 130px);
		color: var(--color-white);

		@include respond-to(tablet) {
			font-size: clamp(50px, -14.8464px + 13.6519vw, 90px);
		}
	}

	&-second {
		font-size: 35px;
		color: var(--color-second);
	}

	&-third {
		font-weight: 700;
		font-size: clamp(80px, -60px + 10.9375vw, 150px);
		line-height: 1;
		color: var(--color-white);

		@include respond-to(tablet) {
			font-size: clamp(50px, 1.3652px + 10.2389vw, 80px);
		}
	}

	&-fourth {
		font-family: 'Avanti', sans-serif;
		font-weight: 700;
		font-size: 35px;
	}
}

p {
	font-size: 16px;
	+ p {
		margin-top: 10px;
	}
}

b,
strong {
	font-weight: 700;
}