* {
	--color-first: red;

	--anim4: 0.4s ease-in-out;
	--anim2: 0.2s ease-in-out;
	--anim1: 0.1s ease;
}

$laptop: 1280px;
$tablet: 768px;
$mobile: 425px;

@mixin respond-to($media) {
	// > $mobile
	@if $media == mobi {
		@media screen and (max-width: $mobile) {
			@content;
		}

	// > $tablet
	} @else if $media == tablet {
		@media screen and (max-width: $tablet) {
			@content;
		}

	// > $laptop
	} @else if $media == laptop {
		@media screen and (max-width: $laptop) {
			@content;
		}
	}
}
